<!DOCTYPE html>
<html lang="en" class="lightTheme" id="htmlMain">

<head>
  <title>InstaPick</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="assets/logo-background-removed.png" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="css/chat_1.css" />
  <link rel="stylesheet" type="text/css" href="css/chat_2.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  {{>header}}

  <main class="main-container">
    <section class="content-container">

      
      <!--Message zone-->
    <div id="message">
      <div class="message_container border-color">
        <div class="persons color-chat">
          <div class="account_name">
            <p id="meXd">{{userName}}</p>
            <p class="search">
              <img src="./img/edit.png" id="edit">
            </p>
          </div>
          <div class="account_message color-chat">
            <div class="desc">
              <p>Messages</p>
              <p><a href="#">3 requests</a></p>
            </div>

            {{#chats}}
            <div class="cart">
              <div onclick="loadMesaggesOfChat('{{name}}')">
                <div class="img">
                  <img src="/" alt="imageUser/1">
                </div>
                <div class="info">
                  <p class="name">{{name}}</p>
                </div>
              </div>
            </div>
            {{/chats}}
            
          </div>
        </div>
        <div class="message message-section">
          <div class="options color-chat">
            <div class="cart">
              <div>
                <div class="img">
                  <img src="./assets/logo-negro.png" alt="">
                </div>
                <div class="info">
                  <p class="name name-chat" id="selectedChat">Supegrdghtdhdthgdthdth</p>
                </div>
              </div>
            </div>
            <div class="other">
              <a href="#">
                <img src="./img/telephone.png" id="call">
              </a>
              <a href="#">
                <img src="./img/video_call.png" id="video_call">
              </a>
            </div>
          </div>
          <div class="content" id="chattingZone">
            
            <div class="my_message">
              <p class="p_message">I'm good </p>
            </div>

            <div class="response_message">
              <p class="p_message">I'll come tomorrow</p>
            </div>

          </div>
          <form>
            <div class="input-group mb-3">
              <input type="text" class="form-control" id="chatMessageInput" placeholder="Some text" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <span class="input-group-text" id="basic-addon2" onclick="sendMessage()">Send</span>
            </div>
          </form>

        </div>
      </div>
    </div>
    <!--Message zone-->

    <section class="side-menu">
      <div class="side-menu__user-profile">
        <a
          href="https://github.com/leocosta1"
          target="_blank"
          class="side-menu__user-avatar"
        >
          <img src="assets/default-user.png" alt="User Picture" />
        </a>
        <div class="side-menu__user-info">
          <a href="https://github.com/leocosta1" target="_blank"
            >leocosta1</a
          >
          <span>Leonardo Costa</span>
        </div>
        <button class="side-menu__user-button">Switch</button>
      </div>

      <div class="side-menu__suggestions-section">
        <div class="side-menu__suggestions-header">
          <h2>Suggestions for You</h2>
          <button>See All</button>
        </div>
        <div class="side-menu__suggestions-content">
          <div class="side-menu__suggestion">
            <a href="#" class="side-menu__suggestion-avatar">
              <img src="assets/default-user.png" alt="User Picture" />
            </a>
            <div class="side-menu__suggestion-info">
              <a href="#">usernick16</a>
              <span>Followed by user1, user2 and 9 others</span>
            </div>
            <button class="side-menu__suggestion-button">Follow</button>
          </div>
          <div class="side-menu__suggestion">
            <a href="#" class="side-menu__suggestion-avatar">
              <img src="assets/default-user.png" alt="User Picture" />
            </a>
            <div class="side-menu__suggestion-info">
              <a href="#">usernick17</a>
              <span>Followed by user1, user2 and 3 others</span>
            </div>
            <button class="side-menu__suggestion-button">Follow</button>
          </div>
          <div class="side-menu__suggestion">
            <a href="#" class="side-menu__suggestion-avatar">
              <img src="assets/default-user.png" alt="User Picture" />
            </a>
            <div class="side-menu__suggestion-info">
              <a href="#">usernick18</a>
              <span>Followed by user1 and 9 others</span>
            </div>
            <button class="side-menu__suggestion-button">Follow</button>
          </div>
          <div class="side-menu__suggestion">
            <a href="#" class="side-menu__suggestion-avatar">
              <img src="assets/default-user.png" alt="User Picture" />
            </a>
            <div class="side-menu__suggestion-info">
              <a href="#">usernick19</a>
              <span>Followed by user1 and 3 others</span>
            </div>
            <button class="side-menu__suggestion-button">Follow</button>
          </div>
          <div class="side-menu__suggestion">
            <a href="#" class="side-menu__suggestion-avatar">
              <img src="assets/default-user.png" alt="User Picture" />
            </a>
            <div class="side-menu__suggestion-info">
              <a href="#">usernick20</a>
              <span>Followed by user1 and 6 others</span>
            </div>
            <button class="side-menu__suggestion-button">Follow</button>
          </div>
        </div>
      </div>

      <div class="side-menu__footer">
        <div class="side-menu__footer-links">
          <ul class="side-menu__footer-list">
            <li class="side-menu__footer-item">
              <a class="side-menu__footer-link" href="#">About</a>
            </li>
            <li class="side-menu__footer-item">
              <a class="side-menu__footer-link" href="#">Help</a>
            </li>
            <li class="side-menu__footer-item">
              <a class="side-menu__footer-link" href="#">Press</a>
            </li>
            <li class="side-menu__footer-item">
              <a class="side-menu__footer-link" href="#">API</a>
            </li>
            <li class="side-menu__footer-item">
              <a class="side-menu__footer-link" href="#">Jobs</a>
            </li>
            <li class="side-menu__footer-item">
              <a class="side-menu__footer-link" href="#">Privacy</a>
            </li>
            <li class="side-menu__footer-item">
              <a class="side-menu__footer-link" href="#">Terms</a>
            </li>
            <li class="side-menu__footer-item">
              <a class="side-menu__footer-link" href="#">Locations</a>
            </li>
            <li class="side-menu__footer-item">
              <a class="side-menu__footer-link" href="#">Top Accounts</a>
            </li>
            <li class="side-menu__footer-item">
              <a class="side-menu__footer-link" href="#">Hashtag</a>
            </li>
            <li class="side-menu__footer-item">
              <a class="side-menu__footer-link" href="#">Language</a>
            </li>
          </ul>
        </div>

        <span class="side-menu__footer-copyright"
          >&copy; 2024 InstaPick from DAW-Group-5</span
        >
      </div>
    </section>
  </section>

    </section>
  </main>

  

  <script src="js/chat_app.js"></script>
</body>

</html>