{{>header}}

<section class="seccion-perfil-usuario">
    <div class="perfil-usuario-body">
      <div class="perfil-usuario-bio">
        <p class="texto">Ups, it seems you have stepped into a page we are not yet ready to display.</p>
        <p class="texto">Or maybe is something we never intended to.</p>
        <p class="texto">Anyway, head back to another area of the page</p>
      </div>
    </div>
  </section>
  
  </body>
  
  <link rel="stylesheet" type="text/css" href="css/post.css" />
  <link rel="stylesheet" type="text/css" href="css/profile.css" />
  <script src="js/profile_app.js" defer></script>
  
  </html>