<!DOCTYPE html>
<html lang="en" class="lightTheme" id="htmlMain">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apock web design</title>
    <link rel="stylesheet" type="text/css" href="css/Graphic.css" />


</head>

<body>

    <!--Header - Navbar-->
    {{>header}}
    
    <main class="main-containter">
        <section class="content-container">
            <div class="content">
                <div class="post">
                    <article class="post">
                        <div class="post__header">
                            <div class="post__profile">
                </div>
                </div>
                </article>
                </div>
            </div>
        </section>
    </main>
    
    <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-body">
          <div class="perfil-usuario-bio">
                <p class="texto">Ups, it seems you have stepped into a page we are not yet ready to display.</p>
                <p class="texto">Or maybe is something we never intended to.</p>
                <p class="texto">Anyway, head back to another area of the page</p>
            </div>
        </div>
    </section>

</body>

<link rel="stylesheet" type="text/css" href="css/post.css" />
<link rel="stylesheet" type="text/css" href="css/profile.css" />
<link rel="stylesheet" type="text/css" href="css/admin.css" />
<!-- <script src="js/profile_app.js" defer></script> -->

</html>