<!DOCTYPE html>
<html lang="en" class="lightTheme" id="htmlMain">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>InstaPick</title>
  <link rel="stylesheet" type="text/css" href="css/Graphic.css" />
  <script src="https://cdn.plot.ly/plotly-2.29.1.min.js" charset="utf-8"></script>
  

</head>

<body>

<!--Header - Navbar-->
{{>header}}

<!--Profile-->

<section class="seccion-perfil-usuario">


      <h3 class="titulo">Post stats</h3>
      <div id="plotlyChart">

      </div>

</section>

<script src="js/graphic_app.js" defer></script>
</body>
<link rel="stylesheet" type="text/css" href="css/post.css" />


</html>