<!DOCTYPE html>
<html lang="en" class="lightTheme" id="htmlMain">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>InstaPick</title>
  <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

</head>

<body>

<!--Header - Navbar-->
{{>header}}

<!--Profile-->

<section class="seccion-perfil-usuario">
  <div class="perfil-usuario-header">
    <div class="perfil-usuario-portada">
      <div class="perfil-usuario-avatar">
        <img src="/imageUser/${post.author.id}" alt="img-avatar">
      </div>
    </div>
  </div>
  <div class="perfil-usuario-body">
    <div class="perfil-usuario-bio">
      <h3 class="titulo" id="userName">{{userName}}</h3>
      <p class="texto">{{description}}</p>
      <p class="titulo">{{name}}</p>
    </div>
    <div class="perfil-usuario-footer">

      <div class="container" id="profilePost">
        <!-- <button><a href="/pdf" download="">Descargar</a></button> -->
        <!-- <div class="row">
          <img class="col-md-1 post" src="assets/logo.jpg" />
          <img class="col-md-1 post" src="assets/logo.jpg" />
          <img class="col-md-1 post" src="assets/logo.jpg" />
          <img class="col-md-1 post" src="assets/logo.jpg" />
        </div>
        <div class="row">
          <img class="col-md-1 post" src="assets/logo.jpg" />
          <img class="col-md-1 post" src="assets/logo.jpg" />
          <img class="col-md-1 post" src="assets/logo.jpg" />
          <img class="col-md-1 post" src="assets/logo.jpg" />
        </div>
        <div class="row">
          <img class="col-md-1 post" src="assets/logo.jpg" />
          <img class="col-md-1 post" src="assets/logo.jpg" />
          <img class="col-md-1 post" src="assets/logo.jpg" />
          <img class="col-md-1 post" src="assets/logo.jpg" />
        </div> -->

      </div>


    </div>
  </div>
</section>

</body>

<link rel="stylesheet" type="text/css" href="css/post.css" />
<link rel="stylesheet" type="text/css" href="css/profile.css" />
<script src="js/profilePost.js" defer></script>

</html>